// Colores generales

$primary: #ffe600;
$secondary: #3483fa;
$pageContenBg: #eeeeee;
$pageBg: #999999;
$elementsBg: #eeeeee;

// colores texto
$mainText: #333333;
$secondaryText: #666666;
$captionText: #999999;
