@import "../../constants/screen-sizes.scss";
@import "../../constants/colors.scss";

.wrapper {
	min-height: 60px;
	background-color: $primary;
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0;

	z-index: 1000;
	display: flex;
	align-items: center;
	justify-content: center;
}

.navContainer {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	margin: 10px 30px;
	max-width: 1060px;

	@media (min-width: $md) {
		margin: 10px 50px;
	}
}

.home-link {
	height: 36px;
}

.nav-logo {
	height: 40px;
}

.nav {
	width: 100%;
	display: flex;
	align-items: center;
	form {
		width: 100%;
		display: flex;
		align-items: center;
	}
}

.searchKeyWord {
	line-height: 30px;
	border-radius: 5px 0px 0px 5px;
	border: 0px;
	padding: 0px 15px;
	margin-left: 15px;
	width: 100%;
	max-width: 1060px;

	&:focus {
		outline: none;
	}

	&:disabled {
		background-color: white;
	}
}

.submit {
	background-color: $elementsBg;
	height: 30px;
	width: 30px;
	padding: 2px 15px;
	border-radius: 0px 5px 5px 0px;
	border: 0px;
	display: flex;
	align-items: center;
	justify-content: center;

	:hover {
		cursor: pointer;
	}
}

.search {
	width: 36px;
	height: 36px;
}

.error-container {
	width: 100%;
	max-width: 400px;
	position: absolute;
	top: calc(100% + 30px);
	left: calc(50% - 200px);
}
