@import "../../../constants/screen-sizes.scss";
@import "../../../constants/colors.scss";

.list-Element {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	flex-direction: column;
	padding: 32px 16px;

	@media (min-width: $md) {
		flex-direction: row;
	}
}

.list-itemLink {
	display: flex;
	align-items: center;
}

.list-productImg {
	width: 180px;
	height: 180px;
	margin-right: 16px;
}

.list-price {
	color: $mainText;
	margin: 0px 0px 32px;
}

.list-generalDescription {
	max-width: 500px;
	color: $secondaryText;
}

.list-locationWrapper {
	margin-top: 35px;
	width: 100%;
	max-width: 300px;
}

.list-location {
	margin: 0px;
	color: $captionText;
}
