.msg {
	color: red;
	margin: 0px;
}

#error-wrapper {
	width: 100%;
	max-width: 400px;

	background-color: rgb(247, 169, 169);
	padding: 10px;
	border-radius: 4px;

	display: flex;
	align-items: center;
	justify-content: space-between;
}

.close-cta {
	background: none;
	color: red;
	border: 1px solid red;
	border-radius: 3px;
	padding: 2px 5px;
	cursor: pointer;
	outline: none;
}
